/*Начало Шапки страницы */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 93px 50px 94px 50px;
  font-size: 18px;
}

/*Начало меню шапки*/
.header__links-list {
  display: flex;
  gap: 20px;
  padding-left: 2px;
  list-style: circle;
}

.header__link_active {
  list-style: none;
}

.header__link {
  padding-right: 13px;
}
/*Конец меню*/

/*Начало логотипа*/
.header__logo {
  display: block;
  width: 100%;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}
/*Окончание логотипа*/

/*Начало Адреса в шапке сайта*/
.address {
  display: flex;
  flex-direction: column;
  max-width: 265px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.4;
}

.header__address {
  justify-self:end;
  padding-right: 32px;
}
/*Окончание Адреса в шапке сайта*/
/*Окончание шапки сайта*/

/*Основное тело сайта*/
/*Раздел "Оно тебе надо"*/
.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    position: relative;
    display: flex;
    flex-direction: column;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 100px ;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 2;
}

.aligned-text {
  display: block;
  width: 100%;
  letter-spacing: 30%;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  padding-top: 20px;
  text-align: center;
}

.aligned-text_right {
  padding-top: 20px;
  text-align: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  margin-top: 105px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.cover__description-text {
  padding-top: 16px;
}

.bet-button {
  width: 256px;
  margin-left: 100px;
  border: 1px solid white;
  padding: 12px 30px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  }
/*Окончание раздела "Оно тебе надо"*/

/*Начало раздела с карточками "Лоты"*/
.lots {
  width: 1052px;
  height: 100%;
  margin-top: 180px;
  margin-left: 25px;
}

.lots__heading { /*Заголовок раздела*/
 padding-left: 40px;
 font-weight: 700;
 font-size: 40px;
 text-transform: uppercase;
}
/*Начинаем задавать дизайн карточек*/

.lots__card-list {
  display: flex; /*Карточки помещаем во флекс контейнер для корректного размещения на странице (по 3 в ряд)*/
  flex-wrap: wrap; /*Разрешаем перенос карточек при их добавлении*/
  flex-grow: 1; /*Разрешаем расширение при наличии места*/
  justify-content: space-between;
  gap: 25px; /*Пространство между карточками*/
  width: 1052px; /*Ширина окна*/
  height: 100%;
  margin-top: 27px;
  margin-bottom: 32px;
  color: #FFFFFF;
  list-style: none; /*Убираем маркеры списка*/
 }

.lots__card-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.card {
   position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 334px;
  min-width: 334px;
  min-height: 596px;
  margin: auto;
  padding-top: 48px;
  padding-bottom: 48px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 2;
  display: block;
  width: 254px;
  height: 100%;
  font-weight: 700;
  font-size: 22px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  display: block;
  align-content: flex-end;
  width: 254px;
  height: 100%;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
}

.card_type_film {
  z-index: 0;
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  z-index: 0;
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  z-index: 0;
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  width: 192px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
}
/*Конец описания дизайна карточек*/

/*Начало описания дизайна блока "Об аукционе"*/
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 23px;
  width: 1052px;
  margin-top: 120px;
  margin-left: 25px;
}

.about__column-logo {
  margin: 0 auto 0 auto;
  padding-top: 35px;
  background-color: #FFFFFF;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  position: center;
  width: 148px;
  height: 114px;
}

.about__title {
  display: flex;
  flex-direction: column;
  width: 693px;
  padding-top: 133px;
}

.about__heading {
  font-weight: 700;
  font-size: 40px;
  text-decoration: none;
  text-transform: uppercase;
}
.about__text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1.5rem;
  width: 688px;
  margin-top: 100px;
  font-weight: 400;
  font-size: 20px;

}
/*Конец описания дизайна блока "Об аукционе"*/

/*Начало описания Подвала*/
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  margin-top: 180px;
  margin-bottom: 82px;
  padding: 0 50px 0 50px;
}

.footer__menu {
  min-width: 164px;
  font-weight: 400;
  font-size: 18px;
}

.footer__menu-list {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 164px;
  text-align: center;
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
/*Конец описания Подвала*/