/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  font-size: 18px;
  padding: 0 50px 0 50px;
}

.header__links-list {
  display: flex;
  gap: 26px;
  list-style: circle;
  padding-left: 2px;
}

.header__link_active {
  list-style: none;
}

.header__link {
  padding-right: 13px;
}

.header__logo {
  display: block;
  width: 100%;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  max-width: 265px;
}

.header__address {
  justify-self:end;
  padding-right: 32px;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  height: 757px;
  min-height: 757px;
  margin: 0 auto;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 100px ;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  line-height: 115%;
  width: 1000px;
  height: 385px;
  top: 165px;
  left: 50px;
  white-space: nowrap;
}

.aligned-text {
  width: 100%;
  height: 115px;
  letter-spacing: 30%; 
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  padding-top: 21px;
  padding-left: 28px;
  text-align: center;
}

.aligned-text_right {
  text-align: end;
  padding-top: 40px;
  padding-left: 50px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  z-index: 2;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  width: 1000px;
  height: 51px;
  padding-top: 682px;
  padding-left: 50px;
  position: absolute;
  display: flex;
  align-items: center;       
  gap: 20px;
  word-spacing: 19px; 
}

.bet-button {
  margin-left: 742px;
  position: absolute;
  height: 51px;
  width: 256px;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid white;
}

.lots {
  margin-top: 180px;
  height: 723px;
  width: 1052px;
  margin-left: 25px;

}
.lots__heading {
 font-weight: 700;  
 font-size: 40px;
 text-transform: uppercase;
 padding-left: 40px;
}

.lots__card-list {
  display: flex;
  list-style: none;
  color: #FFFFFF;
  width: 1052px;
  margin-top: 27px;
  gap: 25px;
  flex-grow: 1; 
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
}
.lots__card-list-item {
  display: flex;
  width: 334px;
  height: 596px;
  position: relative;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding-top: 48px;
  padding-bottom: 48px;
  background-size: cover;
  background-position: center;
  min-width: 334px;
}

.card-link {
  font-size: 22px;
  text-transform: uppercase;
  height: 100%;
  text-decoration-line: underline;
  z-index: 2;
  width: 254px;
}

.card {
  font-size: 20px;
  text-transform: none;
  height: 100%;
  z-index: 2;
  position: relative;
  text-decoration: none;
  width: 254px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  z-index: 0;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  z-index: 0;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  z-index: 0;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  height: 23px;
  width: 192px;
  padding-left: 40px;
}

.about {
  display: grid;
  width: 1052px;
  height: 595px;
  margin-top: 120px;
  grid-template-columns: 334px 1fr;
  margin-left: 25px;
  gap: 23px;
}

.about__column-logo {
  background-color: #FFFFFF;
  margin: 0 auto 0 auto;
  padding-top: 35px;
}

.about__logo {
  background-color: black;
  border-radius: 240px;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  position: center;
}

.about__title{
  width: 693px;
  height: 449px;
  padding-top: 133px;
  display: flex;
  flex-direction: column;
}

.about__heading {
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.about__text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1.5rem;
  margin-top: 100px;
  font-size: 20px;
  font-weight: 400;
  width: 688px;
  height: 100%;

}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin-top: 180px;
  align-items: start;
  padding: 0 50px 0 50px;
}

.footer__menu {
  min-width: 164px;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  min-width: 164px;
  position: relative;

}

.footer__social-list {
  display: flex;
  list-style: none;
  height: 48px;
  justify-self: end;
  gap: 48px;
}

.footer__social-icon {
  max-height: 48px;
}